<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChemTrend.Barcode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PageSize" value="10" />
    <add key="CompanyCode" value="true" />
    <add key="DBConnection" value="server=local;database=BarcodeQP;uid=sa;pwd=sasa"/>
    <add key="DBScalaConnection" value="server=local;database=scalaDB;uid=sa;pwd=sa"/>
    <!--<add key="APIDomain" value="http://192.168.0.105/" />-->
    <add key="APIDomain" value="http://localhost:25886/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="IniFilePath" value="member.ini" />
    
  </appSettings>
  <userSettings>
    <ChemTrend.Barcode.Properties.Settings>
      <setting name="cName" serializeAs="String">
        <value>客户编号</value>
      </setting>
    </ChemTrend.Barcode.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>